<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCrTJXo9MBYHWuB2w1xlaYBFpXkL-l07M</string>
	<key>GCM_SENDER_ID</key>
	<string>436690066546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ttOffer</string>
	<key>PROJECT_ID</key>
	<string>tt-offer</string>
	<key>STORAGE_BUCKET</key>
	<string>tt-offer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436690066546:ios:c3d9cb0df3342aa79536eb</string>
</dict>
</plist>